* {
    box-sizing: border-box !important;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #EAE4E4;
}

@font-face {
    font-family: Inter;
    src: url(Inter-Regular.ttf);
}

@font-face {
    font-family: Jacques Francois;
    src: url(JacquesFrancois-Regular.ttf);
}


.maindiv {
    width: 100%;
    height: 100vh;
    position: relative;
}

.navigation {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.h1-1 {
    color: #000;
    font-family: Jacques Francois;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin: 0;
    margin-top: 154px;
}

img {
    position: absolute;
    bottom: 0;
    left: 27%;
    z-index: -1;
}

.p1 {
    position: absolute;
    right: 55px;
    bottom: 35px;
    color: #000;
    font-family: Jacques Francois;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}